server {
  listen 80;
  listen [::]:80;

  root /var/www/drewmcdermott.net;
  index index.html;
  server_name drewmcdermott.net www.drewmcdermott.net;
  location / {
    try_files $uri $uri/ =404;
    expires 30d;
  }
}